<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <script>
      docuemnt.queryAll("i");
    </script>
    <h1>Triquigo</h1>
    <form class="tablero">
      <input type="hidden" name="tablero-actual" value="{{.}}" />
      {{ range $indice, $valor := . }} {{ $valorC := printf "%c" $valor }}
      <input
        class="celda"
        type="submit"
        formaction="/{{$indice}}"
        value="{{ $valorC }}"
      />
      {{ end }}
    </form>
  </body>
</html>
