{{ define "enjuegoSinc" }}
<form class="tablero">
  {{ range $indice, $valor := .TableroActual }} {{ if eq $valor ' ' }}

  <input
    type="submit"
    formaction="/sincronizado/{{$indice}}"
    value="{{ printf `%c` $valor }}"
  />

  {{ else }}

  <p class="celda">{{ printf "%c" $valor }}</p>

  {{ end }} {{ end }}
</form>
{{ end }} {{ define "terminadoSinc" }}

<form class="tablero">
  {{ range $indice, $valor := .TableroActual }}

  <p class="celda">{{ printf "%c" $valor }}</p>

  {{ end }}
</form>

<a class="boton-resetear" href="/resetearSincronizado">Volver a jugar</a>

{{ end }}

<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>

  <body>
    <h1>Triquigo</h1>

    {{ if eq .Estado 0 }}
    <h2 class="subtitulo">¡A JUGAR!</h2>

    {{ template "enjuegoSinc" . }} {{ else if eq .Estado 1 }}
    <h2 class="ganador">GANADOR</h2>
    {{ template "terminadoSinc" . }} {{ else if eq .Estado 2 }}
    <h2 class="perdedor">PERDEDOR</h2>

    {{ template "terminadoSinc" . }} {{ else if eq .Estado 3 }}
    <h2 class="empate">EMPATE</h2>

    {{ template "terminadoSinc" . }} {{ end }}
  </body>
</html>
